@import "tailwindcss";

body {
  background-color: azure;
}

label {
  @apply text-sm font-semibold text-gray-700;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  @apply mt-1 rounded-md border border-gray-300 p-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500;

  &.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
  }
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  @apply h-5 w-5;
}

select {
  @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500;
}

.table-cells {
  @apply border-b border-gray-300 p-3 text-gray-700;
}

.table-row {
  @apply odd:bg-white even:bg-gray-100 hover:bg-gray-300;
}

.table {
  @apply w-full border-collapse rounded-lg border border-gray-300 shadow-sm;
}
